<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{ username }}
    </div>
    <div id="app1">
        <input type="date" class="form-control" v-model="birthdate">
        {{ age }}
    </div>
    <div id="app2">
     <h3>In ce limbaj programati?</h3>
     <label for="limbaj">Java</label>
     <input name="JavaScript" type="radio"  id="Java"  v-model="salariu" ><br>
     <label for="limbaj">JavaScript</label>
     <input name="limbaj" type="radio"  id="JavaScript"  v-model="salariu"><br>
     <label for="limbaj">Python</label>
     <input name="limbaj" type="radio"  id="Python"  v-model="salariu">
     <br>
      <label>Experienta?</label>
      <input type="number" v-model="Experienta">
      <label>ani</label><br>
      <h3>Salariu: $ {{ salariu }}</h3>
      
      
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>
