<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{ username }}
    </div>
    <div id="app1">
        <input type="date" class="form-control" v-model="birthdate">
        {{ age }}
    </div>
    <div id="app3">
        <h4>In ce limbaj programati?</h4>
        <input type="radio" v-model="language" value="js">
        <label for="one">Javascript</label>
        <br>
        <input type="radio" v-model="language" value="python">
        <label for="one">Python</label>
        <br>
        <input type="radio" v-model="language" value="java">
        <label for="one">Java</label>
        <br>
        <label>Experienta:</label>
        <input type="text" v-model.number="experience">
        <label>ani</label><br>
        <label>Salariu: </label>
            {{salary}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>
