<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{ username }}
    </div>
    <div id="app1">
        <input type="date" class="form-control" v-model="birthdate">
        {{ age }}
    </div>
    <div id="app2">
     <h3>In ce limbaj programati?</h3>
      <input type="radio" name="limbaj" v-model="JS">
      <label for="one">Javascript</label><br>
      <input type="radio" name="limbaj" v-model="Python" >
      <label for="one">Python</label><br>
      <input type="radio" name="limbaj" v-model="Java">
      <label for="one">Java</label><br>
      <label>Experienta?</label>
      <input type="text" v-model="Experienta">
      <label>varsta</label><br>
      <label>Salariu: </label>
      {{ salariu }}
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>